<!DOCTYPE html>

<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class = 'pane'>
        <h1>{{ region.name }}</h1>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}
        <a href = "{{url_for('newRegionBlog', region_id = region.id )}}">Add  Blog</a>
    </br></br>

    <h2>Blogs</h2>

        {% for i in items %}

        <p><a href="{{i.url}}">{{i.name}}</a></p>
        <p>{{i.description}}</p>
        <a href='{{url_for('editRegionBlog', region_id = region.id, blog_id=i.id ) }}' >Edit</a>
        </br>
        <a href='{{url_for('deleteRegionBlog', region_id = region.id, blog_id=i.id ) }}' >Delete</a>
        </br>
        </br>
        {% endfor %}
        </br></br>
        {% else %}
        <p> There are currently no blogs for this neighborhood. <p>
        <a href = "{{url_for('newRegionBlog', region_id = region.id )}}">Add Blog</a>
            {% endif %}
    </div>

</body>
</html>
