<!DOCTYPE html>

<html>
<head>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{url_for('showRegions')}}">Home</a></li>
            <li role="presentation"><a href="{{url_for('about')}}">About</a></li>
            <li role="presentation"><a href="{{url_for('contact')}}">Contact</a></li>


          </ul>
        </nav>
        <h3 class="text-muted">Neighborhood Blog Directory</h3>
      </div>
    <h1> Edit Neighborhood </h1>

    <form action="{{ url_for('editRegion',region_id = region.id)}}" method = 'post'>

    <p>Name:</p>
        <input type ='text' size='30' name='name' placeholder = '{{region.name }}'>

    <input type='submit' value='Edit'>


    <a href = '{{url_for('showRegions')}}'> Cancel </a>
    </form>

</body>
</html>
