<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href"#">

    <title>Neighborhood Blog Directory</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class = "active"><a href="{{url_for('showRegions')}}">Home</a></li>
            <li role="presentation"><a href="{{url_for('about')}}">About</a></li>
            <li role="presentation"><a href="{{url_for('contact')}}">Contact</a></li>
            <li role="presentation"><a href="{{url_for('showLogin')}}">Login</a></li>


          </ul>
        </nav>
        <h3 class="text-muted">Neighborhood Blog Directory</h3>
      </div>

      <div class="jumbotron">
        <h1>Neighborhood Blogs</h1>
        <p class="lead">From finding out when a new restaurant is opening to complaining about that new eyesore development, neighborhood blogs keep you in tune with what's happening in your community.</p>
        <p><a class="btn btn-lg btn-success" href="{{url_for('newRegion')}}" role="button">Add a Neighborhood</a></p>
      </div>

      <div class="row marketing">
          {% for region in regions %}

          <div class="col-lg-3">

          <h4><a href = "{{url_for('showBlogs', region_id = region.id)}}"><p>{{region.name}}</a></h4><p>{{region.description}}</p>
          </p></a></h4>
          </div>
          {% endfor %}

      </div>

      <footer class="footer">
       <!-- <p>&copy; Nicholas Schafran 2015</p> -->
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
